#menu_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;

}
img {
    width: 100%
}
#head_of {
    display: grid;
    grid-auto-flow: column;
    box-shadow: 40px 40px 40px;
    color: black;
    background-color: rgb(220,200, 173);
    text-align: center;
}

header {
    text-justify: center;
    font-size: 3em;

}
html { 
    background: #faebd7;
}
.foodtypes {

    box-shadow: 40px 40px 40px;
    color: black;
    text-align: center;
    font-size: 2.5em;
    padding-top: 30px;
    background-color: rgb(220, 200, 173);
}
#menu_container {
    color: black;
    font-size: 1.25em;
    row-gap: 10px;
    
}
#pasta_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 20px;
    color: black;
    font-size: 1.25em;
    row-gap: 10px;

}
section>img {
    width: 40px;
    height: 40px;
}
#logo2  {
    width: 350px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
@media only screen and (min-width: 600px) {
    #logo2{
        width: 400px;}
    
}
@media only screen and (min-width: 1000px) {
    h1{
        color: firebrick;}
    
}
article {
    background-color: rgb(220, 200, 173);
}
.animate {
    color: black;
}
.animate :hover{
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: color green;
}


    






 