html {
    margin: 0;
    padding: 0;
    background-color: #faebd7;

}
img {
    width: 50%;
}

.center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    place-items: center;
    

    margin-bottom: 10px;
    
}

p {
    text-align: center;
    color: firebrick;
    font-size: x-large;
    
}

h1 {
    text-align: center;
    
}

a {
    margin: 20px;
    
}

h2 {
    text-align: center;
    
    font-size: large;
}

header {
    text-align: center;
    font-size: xx-large;
    line-height: 2;
}

iframe {
    display: block;
    width: 60%;
    padding: 10px;
    margin: auto

}

a {
    display: block;
    width: 60%;
    padding: 10px;
    margin: auto;
    color: rgb(85, 66, 42);
    
}

section {
    font-size: large;
}

footer {
    font-size: x-large;
    text-align: center;
    color: black
}

div>header {

    font-size: 40px;
    box-shadow: 40px 40px 40px;
    color: rgb(85, 66, 42);
    background-color: rgb(220, 200, 173);
    margin: 30px;
    
}

section a {

    color:rgb(85, 66, 42);
    

}

footer :hover {

    box-shadow: 4px 4px 10px ;
    background-color: aquamarine;
}
    
  

 h1 b {

    box-shadow: 40px 40px 40px;
    color: rgb(109, 90, 65);
    
}
.zoom {
    transition: transform 1s;
}

 .zoom:hover {

    transform: scale(1.75);
    -webkit-filter: blur(0px);
    filter:blur(0px)
   
}

 section>header {

    font-size: 35px;
    box-shadow: 40px 40px 40px;
    color: rgb(85, 66, 42);
    background-color: rgb(220, 200, 173);
    line-height: 1;
    margin: 30px;

    
 }

 a {

    line-height: 3;
 }

 div>h2 {

    color: firebrick;

 }

section>img {

    -webkit-filter: blur(4px);
    filter:blur(4px)
}

section>h2 {

    font-size: large;
    color: firebrick;
}

nav>header {

    font-size: 35px;
    box-shadow: 40px 40px 40px;
    color:rgb(85, 66, 42);
    background-color: rgb(220, 200, 173);
    
}

div>footer {

    color: rgb(85, 66, 42);
    line-height: 4;
}
#menu_container {
    display: grid;
    grid-auto-flow: column;
    
}
.button {
    transition: 8px;
    background-color: rgb(220, 200, 173);
    padding: 10px;
}

#contact {
    display: grid; width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    row-gap: 10px;
}
#pages {
    display: grid; 
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    row-gap: 10px;
}
#party {
    display: grid; 
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    row-gap: 10px;
}



    
