html {
    margin: 2;
    padding: 1;
    background: #faebd7;

}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

p {
    text-align: center;
    color: firebrick;
}

h1 {
    text-align: center;
    color: green
}

a {
    margin: auto;
    color: green
}